[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = git@github.com:TarzanZhao/simple-knn.git
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = git@github.com:nyu-systems/diff-gaussian-rasterization.git
    branch = xiwen
[submodule "submodules/gsplat"]
	path = submodules/gsplat
	url = git@github.com:alexis-mmm/gsplat.git
	branch = xiwen
[submodule "submodules/cpu-adam"]
	path = submodules/cpu-adam
	url = git@github.com:TarzanZhao/cpu-adam.git
[submodule "submodules/fuse-ssim"]
	path = submodules/fuse-ssim
	url = git@github.com:TarzanZhao/fuse-ssim.git
[submodule "submodules/fast-tsp"]
	path = submodules/fast-tsp
	url = git@github.com:TarzanZhao/fast-tsp.git
